@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* font-family: "Inter", sans-serif;
font-family: "Grey Qo", cursive; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

:root {
  --primary-color: #e6533c;
  --secondary-color: #222222;
  --color-white: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

ul,
li {
  list-style: none;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

p {
  color: rgba(255, 255, 255, 0.5);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mt-8 {
  margin-top: 80px;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.btn {
  padding: 16px 40px;
  border-radius: 42px;
  font-size: 16px;
  font-weight: 600;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  border: 1px solid var(--color-white);
}
.btn-black {
  background-color: #292929;
  color: #ffffff;
}
.btn-group {
  margin: 20px 0;
  display: flex;
  gap: 20px;
}

.section-heading {
  color: var(--color-white);
  gap: 10px;
}

.section-heading h2 {
  font-size: 48px;
  font-weight: 900;
}

.section-heading p {
  font-size: 16px;
  line-height: 20px;
}

#hero {
  width: 100%;
  height: 100vh;

  background: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.9),
      rgba(43, 43, 43, 0.8)
    ),
    url("../img/hero-bg.jpg") no-repeat;

  overflow: hidden;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo img {
  width: 200px;
  height: auto;
}

nav.main-menu ul {
  display: flex;
  border: 1px solid #ffffff1f;
  padding: 12px 0;
  border-radius: 46px;
}

nav.main-menu ul li {
  padding: 0 5px;
}

nav.main-menu ul li a {
  padding: 8px 20px;
  border-radius: 46px;
}

nav.main-menu ul li a:hover,
.active {
  background-color: var(--primary-color);
}

.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-title {
  font-size: 78px;
  color: var(--color-white);
  line-height: 78px;
  font-weight: 900;
}

.hero-title span {
  font-family: "Grey Qo", cursive;
  font-size: 100px;
  color: var(--primary-color);
}

.hero-image {
  position: relative;
}

.hero-image img {
  height: 850px;
}

.info-box {
  padding: 20px;
  background-color: rgba(48, 48, 48, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.info-box h2 {
  font-size: 40px;
  font-weight: 900;
  color: var(--color-white);
}

.info-box h3 {
  font-size: 30px;
  font-weight: 900;
  color: var(--color-white);
}

.info-box-top {
  position: absolute;
  top: 30%;
  right: 0;
}
.info-box-bottom {
  position: absolute;
  bottom: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-box img {
  width: 48px;
  height: 48px;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 50px;
}

/* Habit section */
.habits {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-top: 58px;
}

.habits .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.habits .item img {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  margin-bottom: 30px;
}

.habits .item h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
}

.habits .item p {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

/* cta-1 section */

.cta-1-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
  padding: 40px 54px;
  border-radius: 18px;
}

.cta-1-content a {
  align-self: flex-start;
  margin-top: 10px;
}

.cta-1-content img {
  width: 400px;
  border-radius: 18px;
}

/* Training section */

.grid-item-1 {
  grid-area: training1;
}
.grid-item-1 p {
  color: black !important;
}
.grid-item-2 {
  grid-area: training2;
}
.grid-item-3 {
  grid-area: training3;
}

.grid-item-4 {
  grid-area: training4;
}

.grid-item-5 {
  grid-area: training5;
}

.grid-item-6 {
  grid-area: training6;
}
.grid-item {
  position: relative;
}
.grid-item p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
.grid-item-4 p {
  right: 0;
}

.grid-item-3 p,
.grid-item-1 p,
.grid-item-5 p,
.grid-item-6 p {
  bottom: 0;
}

.grid-item img {
  width: 100%;
  height: auto;
}

.training-grid {
  margin-top: 40px;
  display: grid;
  grid-template-areas:
    "training1 training2 training2 training2 training2 training2 training2 training2 training2 training2 training2 training3"
    "training4 training4 training4 training4 training4 training4 training5 training6 training6 training6 training6 training6";
  overflow: hidden;
}

.training-grid > div {
  height: 200px;
}

.training-grid p {
  color: var(--color-white);
  padding: 10px;
  margin-bottom: 20px;
}
.training-mobile {
  display: none;
}
/* BMI Calculator */
#bmi .section-heading {
  margin-left: 200px;
}

.bmi-calculator {
  background-color: #222222;
  padding: 50px 0;
}

.bmi-calculator h3 {
  font-size: 28px;
  font-weight: 900;
  color: var(--color-white);
}

.bmi-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

table {
  margin-top: 50px;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

th {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
  text-align: left;
  padding: 14px 20px;
}

td {
  padding: 14px 20px;
  text-align: left;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input[type="text"],
select {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  padding: 12px 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
}

.btn-submit {
  margin-top: 20px;
  color: var(--color-white);
  font-weight: 500;
}

/* Get Shape CTA */

.shape-content {
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 18px;
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shape-content a {
  margin-top: 20px;
}

.shape-content img {
  height: 460px;
  width: auto;
  position: absolute;
  right: 0;
  top: -100px;
}

/*Team section*/

#team .section-heading {
  text-align: center;
}

.teams {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.member {
  position: relative;
  border-radius: 18px;
}

.member .name {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.member .name h3 {
  font-size: 20px;
  font-weight: 900;
  color: var(--color-white);
}

.member img {
  border-radius: 18px;
}

/* Footer */
footer {
  padding: 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer img {
  width: 200px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}
ul.footer-menu li {
  padding: 12px 0;
}
ul.footer-menu li a {
  color: rgba(255, 255, 255, 0.5);
}
.box h3 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.copyright {
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.mobile-menu {
  display: none;
}

/* Responsive */

@media only screen and (max-width: 480px) {
  header {
    padding: 10px;
  }
  .logo img {
    width: 150px;
  }
  .mobile-menu {
    display: block;
  }
  .main-menu {
    display: none;
  }
  .btn-group {
    flex-direction: column;
  }

  #hero {
    width: 100%;
    height: 100%;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-text {
    padding: 20px;
  }
  .hero-title {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-title span {
    font-size: 60px;
  }

  .hero-image .hero-main-image {
    height: 650px;
  }

  .info-box h2 {
    font-size: 30px;
  }

  .info-box h3 {
    font-size: 25px;
  }
  .info-box p {
    font-size: 9px;
  }
  .info-box-top {
    top: 15%;
    right: 15%;
  }
  .info-box-bottom {
    bottom: 20%;
    left: 10%;
  }

  .icon-box img {
    width: 32px;
    height: 32px;
  }
  #training .section-heading {
    display: flex;
    flex-direction: column;
  }
  .section-heading {
    padding: 20px;
  }

  .section-heading h2 {
    font-size: 32px;
  }
  .section-heading p {
    font-size: 14px;
  }

  .habits {
    flex-direction: column;
  }

  .cta-1-content {
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    text-align: center;
    gap: 20px;
  }

  .cta-1-content a {
    align-self: normal;
  }

  .cta-1-content img {
    width: 100%;
  }
  .training-mobile {
    display: flex;
    flex-direction: column;
  }
  .grid-item {
    width: 100%;
    height: 200px;
    background-color: #e6533c;
    overflow: hidden;
  }
  .training-grid {
    display: none;
  }

  .grid-item img {
    width: auto;
    height: 100%;
  }

  .grid-item:nth-child(2) img {
    float: right;
  }
  .training-mobile .flex:nth-child(2) .grid-item:nth-child(2) img {
    float: left;
  }

  #bmi .section-heading {
    margin-left: 20px !important;
  }

  .bmi-wrapper {
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 20px;
  }
  .shape-content {
    margin: 20px;
  }
  .shape-content img {
    display: none;
  }

  .teams {
    grid-template-columns: auto;
    margin: 20px;
    padding: 20px 0;
  }
  .footer-content {
    flex-direction: column;
  }
}
